.body-home {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.detail-device {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 92px;
}

.icon {
    font-size: x-large;
}

.body-home .home {
    max-width: 80%;
    width: 80%;
}

.header-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


